<div class="hero-banner">
  <div class="hero-headline">
    <h1>Landon<br>
      Eric<br>
      West</h1>
    <h2>Full Stack Developer</br>
      With a Passion for</br>
      Art and Technology</h2>
  </div>
</div>

<section id="hl-quote" class="col-2-flex">
  <div class="profile-pic">
    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/14915222_10209482857801238_2763106103840809664_n.jpg?oh=a8ab43194889d46b4cfed7189ca5120d&oe=590C3D0A" alt="Landon West profile pic" />
  </div>

  <div class="">
    <blockquote cite="http://">
      Programming is a natural continuation of my life-long love for creating things
    </blockquote>
  </div>
</section>

<div class="col-2-flex">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Second paragraph ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="">
  <ul class="flex-list">
    <li>
      <a href="" class="flex-icon">
        <i class="fa fa-github fa-4x" aria-hidden="true"></i>
        github
      </a>
    </li>
    <li>
      <a href="" class="flex-icon">
        <i class="fa fa-codepen fa-4x" aria-hidden="true"></i>
        codepen
      </a>
    </li>
    <li>
      <a href="" class="flex-icon">
        <i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
        twitter
      </a>
    </li>
    <li>
      <a href="" class="flex-icon">
        <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
        instagram
      </a>
    </li>
    <li>
      <a href="" class="flex-icon">
        <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
        linkedin
      </a>
    </li>
  </ul>
</div>

<div class="twitter-ribbon">
  <a class="twitter-timeline"
    data-height="100%"
    data-width="100%"
    data-theme="light"
    data-tweet-limit="3"
    data-chrome="nofooter noborders"
    href="https://twitter.com/Lando726">
    Tweets by Lando726
  </a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
