<div class="hero-banner">
  <div class="hero-headline">
    <h1>Landon<br>
      Eric<br>
      West</h1>
    <h2>Full Stack Developer</br>
      With a Passion for</br>
      Art and Technology</h2>
  </div>
</div>
