<%= provide :title, 'Resume' %>

<div class="resume">
  <header>
    <h1>
      Landon<br>
      Eric<br>
      West
    </h1>

    <ul class="link-list res-links">
      <li>
        <a href="https://github.com/LandonWest" target="_blank">GitHub.com/LandonWest</a>
      </li>
      <li>
        <a href="https://codepen.io/Lando726" target="_blank">CodePen.io/Lando726</a>
      </li>
      <li>
        <a href="https://twitter.com/Lando726" target="_blank">Twitter.com/Lando726</a>
      </li>
      <li><a href="https://www.linkedin.com/in/landonwest">LinkedIn.com/in/LandonWest</a></li>
    </ul>

    <ul class="link-list res-links">
      <li><%= link_to 'LandonEricWest.com', root_path %></li>
      <li>
        <a href="mailto:landonwest5@gmail.com">LandonWest5 [at] gmail.com</a>
      </li>
      <li>
        <a href="https://goo.gl/maps/Qxosbo5NMAn" target="_blank">
          San Francisco, California
        </a>
      </li>
    </ul>
  </header>

  <section class="statement">
    <h2>Personal Statement</h2>

    <p class="italic">
      A creative mind with a passion for web development, great design, and user experience. A self-starter who takes pride in producing quality work, hungry for knowledge and eager to advance his skills.
    </p>
  </section>

  <section class="skills">
    <h2>Web Development Training &amp; Skills</h2>

    <h3>
      DevPoint Labs, 2014<br>
      11-week, immersive, full-stack web development program
    </h3>

    <ul>
      <li>Front End / Client Side technologies including HTML, CSS, JavaScript, jQuery, React, SASS / SCSS, AJAX, Responsive Design</li>
      <li>Server Side and Database technologies including Ruby, Rails, SQL, PostgreSQL, Bash</li>
      <li>Version control and collaboration via GIT and GitHub</li>
      <li>Software QA and testing with RSpec, MiniTest, Selenium</li>
      <li>Keeping up to date with current and emerging web technologies through relevant blogs, online training, meetups, and events</li>
    </ul>
  </section>

  <section class="work-exp">
    <h2>Work Experience</h2>

    <h3>
      Propeller Labs<span>Sept. 2016 - Current</span><br>
      Software Development Contractor
    </h3>
    <p class="italic">Followed Urbio VP of Operations, post sale, to a new venture at a fast-growing software development company</p>

    <ul>
      <li>Developing the company's new website according to specs of designer and growth team</li>
      <li>Writing a Ruby command line program to automate the process of gathering and processing industry-specific company and contact data</li>
      <li>Generating market and prospective business research for new web and mobile development</li>
    </ul>

    <h3>
      Urbio, Inc. <span>2014 - 2016</span><br>
      Operations &amp; Technology Coordinator
    </h3>
    <p class="italic">Started as an intern and was promoted to Associate of Urbio</p>

    <h4>Website development, helpdesk support</h4>
    <ul>
      <li>Web content management</li>
      <li>Added new products online, created sale banners</li>
      <li>Coordinated with outsourced web development firm on website redesign, making sure specs were built according to our requiremnts and quality testing the site before launch</li>
      <li>Coordinated with 3PL (third-party logistics warehouse), Ecommerce platform, and engineer to set up integration of XML feed for order and inventory flow. Alerted engineer of issues with transmission and manually re-sent data when necessary</li>
      <li>Took charge of project to find an internet company and get all wireless network equipment set up</li>
      <li>Partnered with IT professional to trace internet line through multi-story building and troubleshoot connection on the basement switchboard</li>
      <li>Trained employees on setup and use of new team messaging software</li>
      <li>Troubleshot and upgraded pc hardware</li>
      <li>Installed and set up VMs on Mac computers to run legacy Windows software in order to access retailer portals</li>
    </ul>

    <h4>Operations/Logistics</h4>
    <ul>
      <li>New product line launched in major retailers</li>
      <li>Coordinated logistics for both international and domestic shipments</li>
      <li>Created, organized and maintained a process for tracking shipments</li>
      <li>Set up procurement procedures</li>
      <li>Established relationships - set up/strengthened relationships with retail and logistics partners including OfficeMax/Depot, Target, Staples, and Saddle Creek Logistics</li>
      <li>Existing product testing/market research for new products</li>
      <li>Led and project-managed major transition to new 3PL</li>
      <li>Worked on a team to troubleshoot port strike issues, my role was to gather relevant information on container contents and due dates in order to influence decision process</li>
      <li>Kept detailed records and digital copies of all purchase orders, invoices, and bill of ladings</li>
      <li>Responsible for customer service emails, resolving issues etc.</li>
    </ul>

    <h3>Temporary Positions<span>2012 - 2014</span></h3>
    <p class="italic">I held a number of positions in the Los Angeles area while my wife finished a graduate degree program</p>
    <ul>
      <li>Security Officer (Hollywood Presbitarian Medical Center)</li>
      <li>Event Staff and Security (Contemporary Services Corporation)</li>
      <li>Various administrative positions</li>
    </ul>
  </section>

  <section class="edu">
    <h2>Education</h2>
    <h3>
      University of Utah, Bachelor of Arts, Middle East Studies: Persian, 2011
    </h3>
  </section>

  <section class="interests">
    <h3>Other Skills &amp; Interests</h3>
    <p>Hiking, college football, basketball, music, movies</p>
  </section>
</div>
