html { height: 100%; }

p {  font-family: serif; }

p, blockquote { color: #404040; }

h2 { color: #404040; }

a { text-decoration: none; }

@media all and (min-width: $large) {
  p { font-size: 1.25rem; }
  h1 { font-size: 2.25rem; }
  h2 { font-size: 1.75rem; }
}

.notice {
  background: $sky-blue;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.25);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0; left: 0; top: 5%;
  margin: auto;
  width: 300px;
  height: 100px;
  opacity: 0.94;
  z-index: 5;
}

.italic { font-style: italic; }

.up { text-transform: uppercase; }

.page-wrap {
  padding: 0 20px;

  @media all and (min-width: $medium) { padding: 0 60px; }
  @media all and (min-width: $xlarge) { padding: 0 80px; }
  @media all and (min-width: $xxlarge) { padding: 0 260px; }
}

.md-line-space { line-height: 1.5; }

.p-link-color {
  color: $steel-blue;
  &:visited { color: $steel-blue; }
}

.disclaimer {
  display: block;
  font-size: 0.75rem;
  padding-top: 0.5rem;
}
