body { background: $light-grey; }

.hero-banner {
  background: #67828B image-url('alcatraz') no-repeat 32% center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: relative;

  @media all and (min-width: $medium) {
    background-position: 40% center;
    height: 75vh;
  }
  @media all and (min-width: $large) {
    background-position: 50% center;
    height: 66vh;
  }
  @media all and (min-width: $xlarge) {
    background-position: 76% center;
    height: 82vh;
  }

  @media all and (orientation: landscape) and (max-width: 767px) {
    height: 100vh;
  }
}

.hero-headline {
  color: #fff;
  position: absolute;
  top: 10%;
  left: 5%;

  h1 {
    font-size: 25vw;
    line-height: 0.8;
    margin: 0;
  }

  h2 {
    color: #fff;
    font-family: serif;
    letter-spacing: 0.325rem;
    line-height: 2;
  }

  @media all and (min-width: $medium) {
    left: 10%;

    h1 { font-size: 7rem; }

    h2 {
      font-size: 1.625rem;
      letter-spacing: 0.4rem;
    }
  }
  @media all and (min-width: $large) {
    left: 6%;

    h1 { font-size: 6.5rem; }
  }
  @media all and (min-width: $xlarge) {
    left: 5%;

    h1 { font-size: 8rem; }

    h2 {
      font-size: 2rem;
      letter-spacing: 0.425rem;
    }
  }
  @media all and (orientation: landscape) and (max-width: 767px) {
    h1 { font-size: 10vw; }
    h2 { font-size: 1.25rem; }
  }
}

.col-2-flex {
  display: flex;
  flex-direction: column;

  @media all and (min-width: $medium) {
    flex-direction: row;
  }
}

.flex-article {
  font-family: serif;
  flex: 1;
  text-align: justify;

  @media all and (min-width: $medium) {
    &:first-child { margin-right: 10px; }
    &:last-child { margin-left: 10px; }
  }
}

#about {
  @media all and (min-width: $large) { padding: 0 100px; }
  @media all and (min-width: $xlarge) { padding: 0 280px; }
}

.hl-quote {
  align-items: center;
  justify-content: center;
  margin: 60px 0 20px;

  .profile-pic {
    margin-bottom: 30px;

    img {
      border-radius: 50%;
      box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.35);
      width: 200px;
      margin: 0 auto;
    }
  }

  blockquote {
    color: #404040;
    font-size: 2rem;
    margin: 0;
  }

  .quote-wrap {
    display: flex;
    align-items: center;
  }

  @media all and (min-width: $medium) {
    margin-bottom: 30px;

    .quote-wrap {
      flex: 1;
      margin-right: 10px;
    }

    .profile-pic {
      flex: 1;
      order: 1;
      margin-bottom: 0;

      img {
        margin: 0 25%;
        width: 224px;
      }
    }
  }
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;

  li { padding: 20px 26px; }
  a { text-decoration: none; }

  @media all and (min-width: $large) {
    justify-content: space-around;
    padding: 0 60px;
  }
}

.flex-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  margin: 0 auto 60px;

  a {
    color: #404040;
    transition: all 250ms cubic-bezier(0, 0.53, 0.74, 0.54);

    &:hover {
      color: #7189A2;
      cursor: pointer;
    }
  }
}

#projects {
  margin: 20px 0 60px;

  h2 { align-self: center; }
}

.proj-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (min-width: $medium) { flex-direction: row; }
  @media all and (min-width: $large) {
    justify-content: space-between;
  }
}

.proj-prev {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative;
  width: 300px;
  height: 300px;

  a {
    color: #fff;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
  }

  @media all and (min-width: $large) {
    flex: 1;
    height: 324px;
  }
  @media all and (min-width: $xlarge) { height: 360px; }
}

.overlay::before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
  background-color: $charcoal-grey;
  opacity: 0.75;
}

#proj-prev-propeller {
  background: #7189A2 image-url('propeller_home_1_prev') no-repeat center;
  background-size: cover;
}

#proj-prev-patchatech {
  background: #7189A2 image-url('patchatech_home_1_prev') no-repeat center;
  background-size: cover;
}

#proj-prev-swanson {
  background: #7189A2 image-url('swanson_1_dt') no-repeat center;
  background-size: cover;
}

#twitter-cont {
  margin-bottom: 30px;
  min-height: 820px;
}

.twitter-ribbon {
  background: #7189A2;
  margin: 2.25rem auto 10rem;
  padding: 1.25rem;
  position: relative;
  width: 16rem;
  height: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  @media all and (min-width: $medium) { margin: 2.25rem 0 12rem; }
  @media all and (min-width: $large) {
    padding: 2.25rem;
    width: 20rem;
  }
  @media all and (min-width: $xlarge) { width: 28rem; }
}

.twitter-ribbon::before, .twitter-ribbon::after {
  border-top: 9.25rem solid #7189A2;
  content: '';
  position: absolute;
  bottom: -9.25rem;
  width: 0;
  height: 0;
  z-index: -1;
}

.twitter-ribbon::before {
  border-right: 9.25rem solid transparent;
  left: 0;

  @media all and (min-width: $large) {
    border-right: 12.25rem solid transparent;
  }
}

.twitter-ribbon::after {
  border-left: 9.25rem solid transparent;
  right: 0;
}

@media all and (min-width: $large) {
  .twitter-ribbon::before {
    border-right: 12.25rem solid transparent;
  }

  .twitter-ribbon::after {
    border-left: 12.25rem solid transparent;
  }
}

@media all and (min-width: $xlarge) {
  .twitter-ribbon::before {
    border-right: 16.25rem solid transparent;
  }

  .twitter-ribbon::after {
    border-left: 16.25rem solid transparent;
  }
}
