#topnav {
  height: 50px;
  width: 100%;
  opacity: 0;
  position: absolute;
  transition: all 0.25s;

  ul {
    background-color: rgba(250,250,250,0.94);
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    padding: 16px 10px;

    a { color: $steel-blue; }
  }
}

.nav-scrolled {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10;
  opacity: 1 !important;
}

.c-static_pages.a-resume, .c-static_pages.a-projects, .c-contacts.a-new {
  #topnav {
    top: 0;
    opacity: 1;
    ul { background: transparent; }
    a { color: $light-grey; }
  }
}

.c-static_page.a-resume {
  #topnav { position: fixed; }
}

footer {
  background: $charcoal-grey;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 12px 0;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 6px;
  }

  a {
    color: $cool-grey;
  }

  @media all and (min-width: $medium) {
    ul { padding: 24px 0; }
    li { padding: 0 12px; }
  }
  @media all and (min-width: $large) {
    ul { padding: 24px 0; }
    li { padding: 0 24px; }
  }
  @media all and (min-width: $xlarge) {
    ul { padding: 24px 0; }
    li { padding: 0 40px; }
  }
}
