<footer>
  <ul>
    <li>
      <a href="https://github.com/LandonWest" class="flex-icon" target="_blank">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        github
      </a>
    </li>
    <li>
      <a href="http://codepen.io/Lando726/" class="flex-icon" target="_blank">
        <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
        codepen
      </a>
    </li>
    <li>
      <a href="https://twitter.com/Lando726" class="flex-icon" target="_blank">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        twitter
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/landoutwest/" class="flex-icon" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        instagram
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/landonwest/" class="flex-icon" target="_blank">
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        linkedin
      </a>
    </li>
  </ul>
</footer>
